# Ignore sensitive configuration files
auth/

# Ignore input and output directories
data/
outputs/

# Ignore virtual environment directories
py310_yt_api/

# Ignore Python cache files and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor and OS files
.vscode/
.env
.DS_Store
Thumbs.db